<div class="container">
  <div class="flex">
    <div class="m-1">
        <a routerLink="">Home</a>
    </div>
    <div class="m-1">
        <a routerLink="second">Second</a>
    </div>
    <div class="m-1">
        <a routerLink="contact">Contact Us</a>
    </div>
  </div>
  <app-add-wish-form
    (addWish)="wishes.push($event)"
  >
  </app-add-wish-form>

  <div class="mt-3 row">
    <app-wish-filter
      [(filter)]="filter"
    >
    </app-wish-filter>
  </div>

  <div class="mt-3 row">
    <div class="col-sm-4">
      <app-wish-list
        [wishes]="wishes.filter(filter)"
      >
      </app-wish-list>
    </div>
  </div>
</div>